/* 
    General Styles
*/
.my-logo {
    width:90px;
    }

.my-carousel {
    display: flex;
    overflow-x: scroll;
}
.my-card { 
    border: 1px solid grey;
    min-width: 260px;
    margin-right: 15px;
    background-color: black;

}
.my-card img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}
.my-card h4 {
    padding: 5px;
    color: white;
}
.my-body-text {
    padding: 15px;
}

.my-footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    }

.my-card-single {
    color: white;
    border: 1px solid grey;
    width: 400px;
    background-color: black;
    padding: 40px;
    margin: auto
   
    
}    
